body {
    margin: 0;
    font-family: Arial, sans-serif;
  }


  .big-chat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    margin-top: 20px;
    gap: 20px;
  }
  
  .chat-container {
    width: 50%;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .message-item {
    margin-bottom: 15px;
  }
  
  .message-item span {
    max-width: 100%;
    word-wrap: break-word; 
  }
  
  .message-item strong {
    color: #990000;
  }
  
  .message-form {
    max-width: none;
    margin: 2px auto;
    padding: 10px;
    width: 97%;
  }
  
  .message-input {
    padding: 8px;
    width: 80%;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .chat-send-button {
    padding: 8px 21px;
    border: none;
    width: 15%;
    border-radius: 4px;
    background-color: #990000;
    cursor: pointer;
  }
  
  .send {
    width: 10px;
    color: #FFCC00;
  }
  
  .username {
    position: relative;
  }

  .text {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
  }


  .messages {
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 4px;
    background-color: #f9f9f9;
    padding: 10px;
    width: 96%;
    margin-left: 4px;
    flex-grow: 1;
    flex-direction: column;
  }
  
  .messages-content {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
  }
  
  .send-text {
    color: #FFCC00;
  }
