.day-time-selection {
    display: flex;
    flex-direction: row; 
    gap: 20px;
}

.day-selection{
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 0; 
}

.time-selection{
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 0; 
}

.day-time-button{
    flex-grow: 2; 
    flex-shrink: 1;
    flex-basis: 0; 
}

.day-time-selection select, .day-time-selection input {
    width: 100%;
    padding: 12px 15px; 
    margin: 10px 0; /* margin like the form inputs */
    border: 2px solid #990000; /* border color to match the form inputs */
    border-radius: 4px; /* rounded corners */
    box-sizing: border-box; /* for proper width calculation */
    color: #990000; /* text color to match the theme */
    background-color: white; /* background color for visibility */
}
