.results {
    padding: 10px;
    font-size: 20px;
    margin: 45px;
    align-items: center;
    text-align: center;
}

.account-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

