h1 {
    padding:30px;
    margin: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #990000; 
    color: #FFCC00;
    font-weight: bold;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #990000;
    color: #FFCC00;
    padding: 10px;
    margin: 3px;
}

.icons-container {
    display: flex; /* Align icons in a row */
    justify-content: flex-end; /* Align icons to the right */
}
